/* Estilo geral */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}


header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #e2e8f0;
    color: #1a202c;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Formulário */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form h1, form h2 {
    color: #2d3748;
}

form input, form select {
    border: 1px solid #cbd5e0;
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

form input:focus, form select:focus {
    border-color: #3182ce;
    outline: none;
}

form button {
    background-color: #3182ce;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2b6cb0;
}


.incapacidade-field {
    display: none;
}
